.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*  */
.legend-node {
  background: blue;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.legend-bot {
  background: red;
  height: 10px;
  width: 10px;
  display: inline-block;
  margin-right: 5px;
}

.legend-bot-node {
  background: purple;
  height: 10px;
  width: 10px;
  display: inline-block;
}
/*  */

.box {
  background: white;
  height: 50px;
  border: 1px solid black;
  width: 50px;
  float: left;
  margin: 0;
}

.box-bot {
  background: red;
  height: 50px;
  border: 1px solid black;
  width: 50px;
  float: left;
  margin: 0;
  color: white;
  font-size: 0.9em;
  word-wrap: break-word;
}

.box-nodes {
  background: blue;
  height: 50px;
  border: 1px solid black;
  width: 50px;
  float: left;
  margin: 0;
}

.box-bot-node {
  background: purple;
  height: 50px;
  border: 1px solid black;
  width: 50px;
  float: left;
  margin: 0;
  color: white;
  font-size: 0.9em;
  word-wrap: break-word;
}

.board {
  margin: 0 auto;
  width: 1040px;
}

.footer {
  padding: 10px 0;
  color: gray;
}
